<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title></title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppInicio/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar fixed-bottom" style="background-color: #FF6084; ">
            <div class="container-fluid px-4 px-lg-12">
                <a class="navbar-brand" style="color: white" href="{% url 'inicio' %}">Inicio</a>
                <button class="navbar-toggler" type="button"></button>

            </div>
        </nav>
        <!-- Page Content-->
       
        
       
        {% csrf_token %}
           
          <section class="vh-100" style="background-color:#FF6084">
            <div class="container  h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body mt-2 text-center" style="height: 14cm;">
          
                      <h3 class="mb-3">Registro</h3>

                      <form id="UserRegisterForm" action="" method="post" class="row d-flex justify-content-center align-items-center h-100">
                        {% csrf_token %}
                  
                      <div class="form-outline mb-1 mt-2 col-xl-9">
                        {% csrf_token %}
                        <input type="text" name="username" class="form-control form-control-lg" />
                        <label class="form-label" for="username">Usuario</label>
                      </div>

                      <div class="form-outline mb-1 col-xl-9">
                        {% csrf_token %}
                        <input type="email" name="email" class="form-control form-control-lg" />
                        <label class="form-label" for="email" >Email</label>
                      </div>
          
                      <div class="form-outline mb-1 col-xl-9">
                        {% csrf_token %}
                        <input type="password" name="password1" class="form-control form-control-lg" />
                        <label class="form-label" for="password1" >Contraseña</label>
                      </div>

                      <div class="form-outline mb-2 col-xl-9">
                        {% csrf_token %}
                        <input type="password" name="password2" class="form-control form-control-lg" />
                        <label class="form-label" for="password2">Repetir contraseña</label>
                      </div>

                      <button type="submit" style="background-color: #FF6084" class="btn btn-primary btn-block mb-3 col-xl-4">Registrarme</button>

                      <div class="text-center mb-3">
                        <p>¿Ya sos miembro?      <a style="color: #FF6084" href="{% url 'login' %}"> Iniciar sesión</a></p>
                      </div>


                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section> 
      </div>

    </body>
</html>
